body {
	margin: 50px;
	width: 500px;
	background-color: #fee;
	font-family: Helvetica Neue, Helvetica, Lucida Sans;
	font-size: 10pt;
}

#content {
	border-radius: 12px;
	padding: 20px 20px 0;
	color: #122;
	background-color: #fee;
}

a {
	color: #f00;
}

.question {
	font-weight: bold;
}

.answer {
	margin-bottom: 20px;
}

.em {
	font-style: italic;
}

.footer {
	margin: 0 0 0;
	padding: 50px 0 0;
}
